/* 
Theme name = theme scratch
Author = John
Description = mon theme scratch
Version = 1.0
Text Domain = themescratch
*/

@import url("https://fonts.googleapis.com/css2?family=Licorice&family=Rowdies:wght@300&display=swap");

body {
  background-color: red;
  font-family: "Rowdies", cursive;
  overflow-x: hidden;
}

/* DEBUT HEADER */

.mon-logo {
  float: left;
  padding-top: 0.5rem;
}

.mon-slogan {
  float: left;
  margin-left: 5%;
  margin-top: 2.5rem;
}

.mon-slogan a {
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

li.widget {
  list-style: none;
}
/* FIN DE HEADER GAUCHE */

/* DEBUT HEADER DROIT */
.phone-block {
  text-align: right;
  margin-top: 2.5rem;
}

.phone {
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

/* FIN HEADER DROIT */

/* ENTETE */
.image-entete {
  max-width: 100%;
  height: auto;
  padding: 0;
}

/* FIN HEADER */

.bleu {
  background: rgb(96, 96, 199);
  min-height: 80px;
}

.violet {
  background: purple;
  min-height: 80px;
}

.vert {
  background-color: green;
  min-height: 80px;
}

.orange {
  background: orange;
  min-height: 80px;
}

.magenta {
  background: magenta;
  min-height: 80px;
}
/* FIN DU ZONING */

main {
  min-height: 600px;
}
